{% if kind == 'video' and video != blank %}
  {{
    video
    | video_tag:
      autoplay: true,
      loop: true,
      muted: true,
      controls: false,
      playsinline: true
  }}
{% elsif image != blank %}
  {{
    image
    | image_url: width: 2400
    | image_tag: loading: 'lazy', sizes: '100vw', widths: '600, 900, 1200, 1600, 2000, 2400'
  }}
{% else %}
  <div style="width:100%;height:100%;background:{{ fallback_color }};"></div>
{% endif %}
